$font-family: "Work Sans", sans-serif;
$second-family: "Montserrat", sans-serif;
$third-family: "Roboto", sans-serif;
$font3: "Lexend", sans-serif;
$font4: "Space Grotesk", sans-serif;

.container {
    width: 1920px;
    padding-left: 60px;
    padding-right: 60px;
  
    margin-left: auto;
    margin-right: auto;
  }
  