:root {
  --font-family: "Work Sans", sans-serif;
  --second-family: "Montserrat", sans-serif;
  --third-family: "Roboto", sans-serif;
  --font3: "Lexend", sans-serif;
  --font4: "Space Grotesk", sans-serif;
}

.index-link {
  display: inline-block;
  padding: 10px 20px;
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  background-color: #fcd54c;
  border: 2px solid #fcd54c;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.index-link:hover {
  background-color: #fff;
  color: #272727;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  background-color: #272727;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
}

button {
  cursor: pointer;
}

:hover,
:focus {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;

  margin-left: auto;
  margin-right: auto;
}

.el-scroll-hidden {
  opacity: 0;
  margin-top: 10px;
}

.el-scroll-show {
  opacity: 1;
  margin-top: 120px;
  transition-property: opacity, margin-top;
  transition-duration: 1.5s, 1s;
}

/* HEADER */

.main-header {
  width: 100%;
  height: 65px;
  background-color: #272727;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 160px;
}

.logo::before {
  content: "";
  display: block;
  width: 31px;
  height: 51px;
  background-image: url("../image/Rectangle\ 14.svg");
}

.logo-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.logo-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 28px;
  color: #fff;
}

.logo-subtitle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 11px;
  color: #fff;
}

.nav-list {
  display: flex;
  margin-left: 160px;
  margin-right: 60px;
  position: relative;
}

.nav-item:not(:last-child) {
  margin-right: 15px;
}

.nav-link {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
}

.nav-link:hover::after,
.nav-link:focus::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fcd54c;
}

.nav-link:hover,
.nav-link:focus {
  color: #fcd54c;
}

.nav-item:hover .item-list,
.nav-item:focus .item-list,
.item-list:hover,
.item-list:focus {
  opacity: 1;
  z-index: 999;
  pointer-events: all;
}

.item-list {
  opacity: 0;
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  width: 247px;
  height: 108px;
  border: 1px solid #979797;
  background: #272727;
  pointer-events: none;
}

.list-item {
  display: flex;
  width: 100%;
  height: 36px;
  background-color: #272727;
  align-items: center;
  justify-content: center;
}

.list-item:hover,
.list-item:focus {
  background-color: #fcd54c;
}

.list-item:hover .sub-link,
.list-item:focus .sub-link {
  color: #272727;
}

.sub-link {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}

.nav-btn {
  margin-right: 120px;

  width: 165px;
  height: 41px;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  color: #000;
  background-color: #fcd54c;
  border: none;
}

.language-switcher {
  display: flex;
  margin-right: 55px;
  padding: 0;
}

.language-switcher-en,
.language-switcher-ua {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  color: rgba(146, 146, 146, 0.6);
  background-color: transparent;
  border: none;
}

.language-switcher-en:hover,
.language-switcher-en:focus,
.language-switcher-ua:hover,
.language-switcher-ua:focus {
  color: #ffffff;
}

.language-switcher-en {
  margin-right: 10px;
}

.curent-language {
  color: #fcd54c;
}

.curent-language:hover,
.curent-language:focus {
  color: #fcd54c;
}

.phone-link {
  display: flex;
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 16px;
  color: #fff;
}

.phone-link:hover,
.phone-link:focus {
  color: #fcd54c;
}

/* HERO */

.hero-section {
  width: 100%;
  height: 100%;
  margin-bottom: 90px;
}

.hero-list {
  display: flex;
  margin-bottom: 22px;
}

.hero-name {
  display: flex;
  align-items: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}

.hero-name-any {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #929292;
}

.hero-icon {
  width: 7px;
  height: 11px;
  margin-left: 7px;
  margin-right: 7px;
  stroke: #929292;
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 768px;
  background-image: linear-gradient(
      to bottom,
      rgba(39, 39, 39, 0.5),
      rgba(39, 39, 39, 0.5)
    ),
    url("../image/slider1.jpg");
}

.hero-title {
  text-align: center;
  margin-bottom: 100px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 60px;
  line-height: 133%;
  color: #fff;
}

.hero-title-any {
  color: #fcd54c;
}

/* APARTMENT */

.apartment-section {
  width: 100%;
  height: 768px;
  margin: auto auto;
  margin-bottom: 150px;
}

.apartment-title {
  margin-bottom: 80px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 60px;
  line-height: 133%;
  text-align: center;
  color: #fff;
}

.apartment-list {
  display: flex;
}

.apartment-item {
  position: relative;
  display: flex;
  justify-content: center;
  width: 426px;
  height: 433px;
}

.apartment-item:nth-child(1) {
  background-image: url("../image/426x581\ \(2\).png");
}
.apartment-item:nth-child(2) {
  background-image: url("../image/426x581.png");
}
.apartment-item:nth-child(3) {
  background-image: url("../image/426x581\ \(1\).png");
}
.apartment-item:nth-child(4) {
  background-image: url("../image/426x581\ \(1\).jpg");
}

.apartment-item:not(:last-child) {
  margin-right: 30px;
}

.apartment-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;

  background-color: #fcd54c;

  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

.apartment-description {
  position: absolute;
  bottom: 137px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 54%;
  text-align: center;
  color: #fff;
}

.apartment-paragraph {
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  position: absolute;
  top: 140px;
  left: 30px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 22px;
  line-height: 118%;
  color: #272727;

  pointer-events: none;
}

.apartment-link {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 33px;
  right: 10px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;

  color: #fff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.apartment-icon {
  width: 13px;
  height: 22px;
  margin-left: 10px;

  stroke: #fff;
  transition: stroke color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.apartment-item:hover::before,
.apartment-item:focus::before {
  opacity: 1;
  transform: translateY(0%);
}

.apartment-item:hover .apartment-description,
.apartment-item:focus .apartment-description {
  color: #272727;
  transform: translateY(-1100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.apartment-item:hover .apartment-paragraph,
.apartment-item:focus .apartment-paragraph {
  opacity: 1;
  transform: translateY(0%);
}

.apartment-item:hover .apartment-link,
.apartment-item:focus .apartment-link {
  color: #272727;
}

.apartment-item:hover .apartment-icon,
.apartment-item:focus .apartment-icon {
  stroke: #272727;
}

/* OFFERS */

.offers-section {
  width: 100%;
  height: 100%;
  margin-bottom: 150px;
}

.offers-title {
  margin-bottom: 40px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 60px;
  line-height: 133%;
  text-align: center;
  color: #fff;
}

.offers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.offers-item {
  position: relative;
  width: 294px;
  height: 578px;
  margin-bottom: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}

.offers-item:nth-child(4n) {
  margin-right: 0px;
}

.offers-item:nth-child(n + 8) {
  margin-bottom: 0px;
}

.offers-item:nth-child(1) {
  background-image: url("../image/426x581.jpg");
}
.offers-item:nth-child(2) {
  background-image: url("../image/426x386.jpg");
}
.offers-item:nth-child(3) {
  background-image: url("../image/426x581\ \(1\)\ \(1\).jpg");
}
.offers-item:nth-child(4) {
  background-image: url("../image/426x581\ \(2\).jpg");
}
.offers-item:nth-child(5) {
  background-image: url("../image/426x581\ \(3\).jpg");
}
.offers-item:nth-child(6) {
  background-image: url("../image/426x581\ \(4\).jpg");
}
.offers-item:nth-child(7) {
  background-image: url("../image/426x581\ \(5\).jpg");
}
.offers-item:nth-child(8) {
  background-image: url("../image/426x581\ \(6\).jpg");
}
.offers-item:nth-child(9) {
  background-image: url("../image/426x581\ \(7\).jpg");
}
.offers-item:nth-child(10) {
  background-image: url("../image/426x581\ \(8\).jpg");
}
.offers-item:nth-child(11) {
  background-image: url("../image/426x581\ \(9\).jpg");
}
.offers-item:nth-child(12) {
  background-image: url("../image/426x581\ \(10\).jpg");
}

.offers-item-content {
  position: absolute;
  bottom: 0;
  padding-top: 7px;
  padding-left: 15px;
  border: 1px solid #fcd54c;
  background-color: #272727;
  width: 100%;
  height: 197px;
}

.offers-item-content::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: #fcd54c;

  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

.offers-name {
  margin-bottom: 3px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;

  color: #fff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.offers-description {
  margin-bottom: 5px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 25px;
  line-height: 140%;

  color: #fff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.offers-paragraph {
  margin-bottom: 10px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;

  color: #929292;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.offers-link {
  display: inline-flex;
  align-items: center;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;

  color: #fff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.offers-link-icon {
  width: 13px;
  height: 22px;
  margin-left: 10px;

  stroke: #fff;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.offers-item-content:hover::before {
  opacity: 1;
  transform: translateY(0%);
}

.offers-item-content:hover .offers-name,
.offers-item-content:hover .offers-description,
.offers-item-content:hover .offers-paragraph,
.offers-item-content:hover .offers-link {
  color: #272727;
}

.offers-item-content:hover {
  background-color: transparent;
  border: 0;
}

.offers-item-content:hover .offers-link-icon {
  stroke: #272727;
}

/* ABOUT-APARTMENT */

.about-apartment-section {
  width: 880px;
  height: 450px;
  margin: auto auto;
  margin-bottom: 150px;
}

.about-apartment-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 60px;
  line-height: 58%;
  color: #fff;
}

.about-apartment-paragraph {
  margin-top: 50px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: #929292;
}

.about-apartment-paragraph:not(:last-child) {
  margin-bottom: 80px;
}

/* CONTACT */

.contact-form-article {
  margin-bottom: 109px;
  width: 100%;
  height: 400px;
  background-image: url("../image/Rectangle\ 868.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-form-paragraph {
  margin-bottom: 25px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color: #272727;
}

.contact-form-title {
  margin-bottom: 55px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 120px;
  line-height: 57%;
  text-align: center;
  color: #272727;
}

.contact-form {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.email-label {
  display: flex;
}

.contact-form-input {
  width: 307px;
  height: 61px;

  padding-left: 42px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: #272727;
  box-sizing: border-box;
  border-style: none;
}

.contact-form-input::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  color: #272727;
  opacity: 0.6;
}

.contact-form-input:focus,
.contact-form-input:focus-within {
  outline: 2px solid #2196f3; /* Изменим цвет кнопки при фокусе инпута */
}

.contact-form-button {
  width: 165px;
  height: 61px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  background: #272727;
  border-style: none;
}

/* FOOTER */

.social-icon {
  width: 27px;
  height: 27px;
  fill: #e8e8e8;
}

.social-icon:hover,
.social-icon:focus {
  fill: #fcd54c;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.footer::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-bottom: 70px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 1920px;
  width: 100%;
}

.footer-item:not(:last-child) {
  margin-bottom: 20px;
}

.footer-title {
  margin-bottom: 20px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: #e8e8e8;
}

.footer-link {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 18px;
  color: #e8e8e8;
}

.footer-link:hover,
.footer-link:focus {
  color: #fcd54c;
}

.footer-list {
  margin-top: 50px;
}

.footer-any {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  width: 100%;
  height: 90px;
}

.footer-any::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-bottom: 30px;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-copyright {
  font-family: var(--font3);
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  color: #e8e8e8;
  margin-right: auto; /* Добавляем для размещения слева */
}

.footer-social-list {
  display: flex;
}

.footer-social-item:not(:last-child) {
  margin-right: 30px;
}
