:root {
  --font-family: "Work Sans", sans-serif;
  --second-family: "Montserrat", sans-serif;
  --third-family: "Roboto", sans-serif;
  --font3: "Lexend", sans-serif;
  --font4: "Space Grotesk", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  background-color: #272727;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
}

button {
  cursor: pointer;
}

:hover,
:focus,
:active {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;

  margin-left: auto;
  margin-right: auto;
}

.el-scroll-hidden {
  opacity: 0;
  margin-top: 10px;
}

.el-scroll-show {
  opacity: 1;
  /* margin-top: 120px; */
  transition-property: opacity, margin-top;
  transition-duration: 1s, 1s;
}

.close-btn {
  position: absolute;

  top: 8px;
  right: 30px;

  background-color: transparent;
  border-style: none;

  pointer-events: none;
}

.close-menu-btn-icon {
  width: 34px;
  height: 32px;
  fill: #fff;
}

/* SWIPER */

.wrapper {
  position: relative;

  padding: 30px;
  min-height: 100%;
  overflow-y: hidden;
}

.image-slider {
  position: relative;

  padding: 80px 0 70px 0;
  overflow-x: hidden;
}

.image-slider__wrapper {
  position: relative;
}

.image-slider__image {
  margin-bottom: 30px;
  margin-right: 30px;
  overflow: hidden;
}

.swiper-pagination {
  position: absolute;
  bottom: 10px; 
}

.image-slider .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  background-color: #fcd54c;
}

/* HERO */

.hero-section {
  width: 100%;
  height: 100%;
  position: relative;
}

.hero-content {
  display: flex;
  position: relative;

  width: 100%;
  min-height: 322px;
  height: 40vw;

  background-image: url("../image/slider1.jpg");
  background-size: cover;
}

/* PROJECTS */
.projects {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-around;
}

.projects-categories-list {
  display: flex;

  margin-bottom: 10px;
}

.projects-categ-item {
  margin-right: 1.5vw;
}

.projects-categ-btn:focus,
.projects-categ-btn-any:focus {
  color: #fcd54c;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project-item:nth-last-child(-n + 2) {
  margin-bottom: 0px;
}

.project-item::before {
  content: "";
  position: absolute;

  width: 400px;
  height: 100%;

  background-color: #fcd54c;

  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

.project-item:hover::before {
  opacity: 1;
  transform: translateY(-0%);
}

.project-item:hover .project-description {
  transform: translateY(-650%);
  color: #272727;
}

.project-item:hover .project-content {
  opacity: 1;
  transform: translateY(0%);
}

.project-item:hover .project-link {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0%);
}

/* EXPERTISE */
/* ✅ */

/* VIDEO */

.video-section {
  position: relative;
  display: flex;

  align-items: center;
  justify-content: center;

  margin-bottom: 7vw;
}

.video-content {
  width: 100%;
  height: 40vw;
  background-image: url("../image/placeholder.jpg");
  background-size: cover;
}

.video-play {
  display: flex;
  position: absolute;

  align-items: center;
  justify-content: center;

  border-radius: 100px;
  width: 5vw;
  height: 5vw;

  backdrop-filter: blur(10px);
  background: #fcd54c;
  border-style: none;
}

.video-play-icon {
  width: 2vw;
  height: 2vw;
  fill: #272727;
}

/* QUOTE */

.quote-article {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 1110px;
  min-height: 227px;
  max-height: 213px;
  height: 40vw;

  padding: 20px;
  margin: 0 auto;
  margin-bottom: 70px;

  border: 1px solid #fcd54c;
}

/* TEXT-AND-IMAGE */

.text-and-image-section {
}

.text-and-image-list {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-around;
}

.text-and-image-item {
  max-width: 543px;
  height: 100%;

  margin-right: 30px;
  margin-bottom: 30px;
}

.text-and-image-item::before {
  content: "";
  display: block;

  height: 194px;

  margin-bottom: 20px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.text-and-image-item:nth-child(1)::before {
  background-image: url("../image/text-and-image\ \(1-full\).png");
}

.text-and-image-item:nth-child(2)::before {
  background-image: url("../image/text-and-image\ \(2-full\).png");
}

/* CONTACT */

.contact-form-article {
  width: 100%;
  height: 264px;

  display: flex;

  align-items: center;
  justify-content: center;

  margin-bottom: 40px;

  background-image: url("../image/contact-image\ \(320px\).jpg");
}

.contact-form-paragraph {
  margin-bottom: 20px;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  color: #272727;
}

.contact-form-title {
  margin-bottom: 30px;

  font-family: var(--second-family);
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  color: #272727;
}

.contact-form {
}

.contact-form-email-label {
  display: flex;
  justify-content: center;
}

.contact-form-input {
  min-width: 182px;
  width: 20vw;
  height: 41px;

  padding-left: 15px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  color: #272727;

  box-sizing: border-box;
  border-style: none;
}

.contact-form-input::placeholder {
  opacity: 0.5;
}

.contact-form-input:focus,
.contact-form-input:focus-within {
  outline: 2px solid #2196f3;
  margin-right: 5px;
}

.contact-form-button {
  min-width: 106px;
  width: 10vw;
  height: 41px;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  color: #fff;

  background-color: #272727;
  border-style: none;
}

/* NEWS */

.news-section {
  margin-bottom: 120px;
}

.news-projects {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 40px;
}

.news-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 70px;
  color: #fff;
}

.news-button {
  display: flex;
  align-items: center;

  font-family: var(--second-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 131%;
  color: #929292;

  margin-left: auto;

  background-color: transparent;
  border-style: none;
}

.news-btn-icon {
  width: 13px;
  height: 22px;
  stroke: #929292;
  margin-left: 7px;
}

.news-button:hover,
.news-button:focus,
.news-button:hover .news-btn-icon,
.news-button:focus .news-btn-icon {
  color: #fcd54c;
  stroke: #fcd54c;
}

.news-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.news-item {
  position: relative;

  width: 350px;
  height: 352px;

  margin-bottom: 30px;
  margin-right: 30px;
}

.news-item:nth-child(1) {
  background-image: url("../image/350x350\ \(1\).jpg");
}

.news-item:nth-child(2) {
  background-image: url("../image/350x350\ \(1\)\ \(1\).jpg");
}

.news-item:nth-child(3) {
  background-image: url("../image/350x350\ \(123\).jpg");
}

.news-description {
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  position: absolute;

  left: 30px;
  bottom: 80px;

  font-family: var(--second-family);
  font-weight: 700;
  font-size: 25px;
  line-height: 140%;
  color: #fff;
}

.news-date {
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  position: absolute;

  left: 30px;
  top: 40px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: #fff;
}

.news-content {
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  position: absolute;

  left: 30px;
  bottom: 85px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: #929292;
}

.news-link {
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  position: absolute;
  display: flex;

  left: 30px;
  bottom: 30px;
  align-items: center;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #fcd54c;
}

.news-icon {
  width: 13px;
  height: 22px;
  stroke: #fcd54c;
  margin-left: 7px;
}

.news-item::before {
  content: "";
  display: block;
  position: absolute;

  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  pointer-events: none;

  width: 100%;
  height: 100%;

  border: 1px solid #fcd54c;
  background-color: #272727;
}

.news-item:hover::before {
  opacity: 1;
  transform: translateY(0%);
}

.news-item:hover .news-description {
  transform: translateY(-400%);
}

.news-item:hover .news-date {
  opacity: 1;
  transform: translateY(0%);
}

.news-item:hover .news-content {
  opacity: 1;
  transform: translateY(0%);
}

.news-item:hover .news-link {
  opacity: 1;
  transform: translateY(0%);
}

/* CLIENTS */

.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.clients-item {
  position: relative;
  display: flex;

  flex-direction: column;

  margin-right: 30px;
  margin-bottom: 60px;
  padding: 30px;

  min-width: 228px;
  height: 100%;
  max-width: 525px;

  border: 1px solid #fcd54c;
}

.clients-item::before {
  content: "";
  position: absolute;
  display: block;

  bottom: 85%;

  width: 112px;
  height: 112px;

  border-radius: 100%;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background: #c4c4c4;
}

.clients-item:nth-child(1):before {
  background-image: url("../image/about10\ 1\ \(1\).jpg");
}

.clients-item:nth-child(2):before {
  background-image: url("../image/about10\ 1.jpg");
}

.clients-name {
  margin-top: 15px;
}

/* FAQ */

.FAQ-section {
}

.FAQ-title {
}

.FAQ-list {
  display: flex;
  flex-direction: column;
}

.FAQ-item {
  position: relative;
  height: 100%;
  width: 100%;
  margin-bottom: 20px;
}

.FAQ-item::before {
  content: "";
  display: block;
  border: 1px solid #929292;
  margin-bottom: 20px;
}

.FAQ-item::after {
  content: "";
  display: block;
  border: 1px solid #929292;
  margin-top: 20px;
}

.FAQ-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 100%;

  background-color: transparent;
  border: none;

  padding: 0;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #fff;
}

.FAQ-icon {
  width: 13px;
  height: 22px;
  stroke: #fcd54c;
  margin-left: auto;
}

/* .FAQ-description-show {
  display: block;
} */

.FAQ-description {
  display: none;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #e8e8e8;
}

@media screen and (max-width: 767px) {
  /* HEADER */

  .header-content {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .nav {
    /* width: 100%; */
    /* height: 100%; */
    display: flex;
    align-items: center;
  }

  .logo-content::before {
    content: "";
    position: absolute;

    margin-top: -2px;
    margin-left: -10px;

    width: 31px;
    height: 51px;

    background-image: url("../image/Rectangle\ 14.svg");
  }

  .logo-content {
    display: flex;
    flex-direction: column;
    margin-right: auto;
  }

  .logo-title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 28px;
    color: #fff;
  }

  .logo-subtitle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 11px;
    color: #fff;
  }

  .menu-btn {
    display: flex;

    margin-left: auto;

    background-color: transparent;
    border: 0;
  }

  .menu-icon {
    width: 31px;
    height: 51px;
    fill: #fff;
  }

  .nav-list {
    display: none;
  }

  .nav-btn {
    display: none;
  }

  .language-switcher {
    display: none;
  }

  .phone-link {
    display: none;
  }

  /* HERO */

  .hero-section {
    margin-bottom: 30px;
  }

  .content-text {
    display: flex;
    justify-content: center;
    flex-direction: column;

    margin-left: 20px;
  }

  .content-text::before {
    content: "";
    position: absolute;
    width: 65px;
    height: 199px;
    background-image: url("../image/Rectangle\ 14\ \(2\).svg");
  }

  .hero-paragraph {
    margin: 15px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 10px;
    text-transform: uppercase;
    color: #fff;
  }

  .hero-title {
    margin-left: 15px;
    font-family: var(--font4);
    font-weight: 700;
    font-size: 30px;
    line-height: 104%;
    text-transform: capitalize;
    color: #fff;
  }

  .hero-title-any {
    color: #fcd54c;
  }

  .hero-btn {
    display: inline-flex;
    align-items: center;

    margin-left: 15px;
    margin-top: 60px;

    border: none;
    background-color: transparent;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 12px;
    color: #fff;
  }

  .hero-btn-icon {
    width: 10px;
    height: 16px;
    margin-left: 6px;
    stroke: #ffffff;
  }

  .social-list {
    display: none;
  }

  .hero-list {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .hero-list::after {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 1px;
    background-color: #fcd54c;
    z-index: -1;
  }

  .hero-item:not(:last-child) {
    margin-right: 30px;
  }

  .hero-number {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    margin-right: 15px;
  }

  .hero-number-first {
    color: #fcd54c;
  }

  .hero-text {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 10px;
    color: #fff;
  }

  /* PROJECTS */

  .projects-section {
    margin-bottom: 40px;
  }

  .projects-title {
    margin-bottom: 20px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 24px;
    color: #fff;
  }

  .projects-categ-btn {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    color: #fff;
    background-color: transparent;
    border-style: none;
  }

  .projects-categ-btn-any {
    font-family: var(--second-family);
    font-style: italic;
    font-weight: 600;
    font-size: 12px;
    color: #929292;
    background-color: transparent;
    border-style: none;
  }

  .project-item {
    position: relative;

    width: 140px;
    height: 186px;
    margin-right: 8px;
    margin-bottom: 10px;
    background-size: cover;

    background-repeat: no-repeat;
  }

  .project-item:nth-child(1) {
    background-image: url("../image/426x386.jpg");
  }

  .project-item:nth-child(3) {
    background-image: url("../image/428x573\ \(2\).jpg");
  }

  .project-item:nth-child(2) {
    background-image: url("../image/428x573\ \(1\).jpg");
  }

  .project-item:nth-child(4) {
    background-image: url("../image/426x581\ \(1\)\ \(1\).jpg");
  }

  .project-description {
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    position: absolute;

    left: 12px;
    bottom: 12px;

    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    color: #fff;
  }

  .project-content {
    opacity: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    position: absolute;

    left: 12px;
    bottom: 45px;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 10px;
    color: #272727;

    pointer-events: none;
  }

  .project-link {
    opacity: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    position: absolute;

    left: 12px;
    bottom: 6px;

    display: flex;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 12px;
    color: #272727;

    pointer-events: none;
  }

  .project-icon {
    width: 8px;
    height: 14px;
    stroke: #272727;
    margin-left: 4px;
  }

  /* EXPERISE */

  .expertise-section {
    margin-bottom: 30px;
  }

  .expertise-subtitle {
    margin-bottom: 10px;

    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    color: #fcd54c;
  }

  .expertise-title {
    margin-bottom: 10px;

    font-family: var(--second-family);
    font-weight: 700;
    font-size: 24px;
    color: #e8e8e8;
  }

  .expertise-paragraph {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #e8e8e8;
  }

  /* QUOTE */

  .quote-paragraph {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #fff;
  }

  .quote-paragraph-author {
    color: #fcd54c;
  }

  /* TEXT-AND-IMAGE */

  .text-and-image-list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .text-and-image-item {
    width: 100%;
  }

  .text-and-image-description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #e8e8e8;
  }

  /* CLIENTS */

  .clients-section {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .clients-item {
    margin-right: 0;
  }

  .clients-item::before {
    width: 68px;
    height: 68px;

    background-size: cover;
  }

  .clients-item:nth-child(2) {
    display: none;
  }

  .clients-some {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 40px;

    font-family: var(--font-family);
    font-weight: 600;
    font-size: 100px;
    color: #fcd54c;
  }

  .clients-name {
    margin-bottom: 20px;

    font-family: var(--second-family);
    font-weight: 700;
    font-size: 25px;
    color: #fff;
  }

  .clients-role {
    margin-bottom: 35px;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    color: #fff;
  }

  .clients-company {
    color: #fcd54c;
  }

  .clients-description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    color: #929292;
  }

  /* FAQ */

  .FAQ-section {
    margin-bottom: 50px;
  }

  .FAQ-title {
    margin-bottom: 20px;

    font-family: var(--second-family);
    font-weight: 700;
    font-size: 24px;
    color: #fff;
  }

  /* FOOTER */

  /* FOOTER */

  .footer::before {
    content: "";
    display: block;

    width: 100%;

    margin-bottom: 40px;

    border: 1px solid #ffffff4d;
  }

  .footer-logo {
    margin-bottom: 40px;
  }

  .footer-item:not(:last-child) {
    margin-bottom: 20px;
  }

  .footer-btn {
    width: 100%;
    display: flex;
    align-items: center;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: #e8e8e8;

    border-style: none;
    background-color: transparent;
  }

  .footer-btn-icon {
    width: 15px;
    height: 15px;
    stroke: #929292;
    margin-left: auto;
    transform: rotate(90deg);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-btn:focus .footer-link,
  .footer-btn:focus .footer-btn-icon {
    transform: rotate(0);
  }

  .footer-link {
    display: none;
  }

  .footer-item-contact-btn {
    margin-bottom: 15px;
  }

  .footer-item-contact-address:not(:last-child) {
    margin-bottom: 13px;
  }

  .footer-item-contact {
    margin-top: 52px;
  }

  .footer-link-address {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;
    color: #e8e8e8;
  }

  .footer-link-email {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 18px;
    color: #e8e8e8;
  }

  .footer-btn-consultation {
    display: block;
    margin: 0 auto;

    width: 284px;
    height: 67px;

    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    color: #000;
    background: #fcd54c;

    border-style: none;
  }

  .footer-any {
    position: relative;
  }

  .footer-any::before {
    content: "";
    display: block;

    width: 100%;

    margin-top: 62px;

    border: 1px solid #ffffff4d;
  }

  .footer-content-any {
    display: flex;

    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 90px;
  }

  .footer-copyright {
    position: absolute;
    bottom: 21px;

    font-family: var(--font3);
    font-weight: 300;
    font-size: 12px;
    color: #e8e8e8;
  }

  .footer-social-list {
    position: absolute;
    display: flex;

    top: 22px;
    justify-content: center;
  }

  .footer-social-item:not(:last-child) {
    margin-right: 31px;
  }

  .footer-social-icon {
    width: 20px;
    height: 38px;
    fill: #fff;
  }

  .footer-social-icon:nth-child(1) {
    height: 28px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1359px) {
  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .nav {
    display: flex;

    align-items: center;

    height: 100%;
  }

  .nav-list {
    display: none;
  }

  .logo-content::before {
    content: "";
    position: absolute;

    margin-top: -2px;
    margin-left: -10px;

    width: 31px;
    height: 51px;

    background-image: url("../image/Rectangle\ 14.svg");
  }

  .logo-content {
    display: flex;
    flex-direction: column;
  }

  .logo-title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 28px;
    color: #fff;
  }

  .logo-subtitle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 11px;
    color: #fff;
  }

  .nav-btn {
    display: block;

    width: 142px;
    height: 35px;

    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;

    background: #fcd54c;
    color: #000;

    border-style: none;
  }

  .language-switcher {
    display: flex;
  }

  .language-switcher-en,
  .language-switcher-ua {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: rgba(146, 146, 146, 0.6);
    background-color: transparent;
    border: none;
  }

  .language-switcher-en:hover,
  .language-switcher-en:focus,
  .language-switcher-ua:hover,
  .language-switcher-ua:focus {
    color: #ffffff;
  }

  .curent-language {
    color: #fcd54c;
  }

  .phone-link {
    display: inline-flex;

    font-family: var(--second-family);
    font-weight: 600;
    font-size: 16px;
    color: #fff;
  }

  .menu-btn {
    background-color: transparent;
    border: 0;
  }

  .menu-icon {
    width: 31px;
    height: 51px;
    fill: #fff;
  }

  /* HERO */

  .hero-section {
    margin-bottom: 40px;
  }

  .content-text {
    display: flex;
    justify-content: center;
    flex-direction: column;

    margin-left: 20px;
  }

  .content-text::before {
    content: "";
    position: absolute;

    width: 65px;
    height: 199px;

    background-image: url("../image/Rectangle\ 14\ \(2\).svg");
  }

  .hero-paragraph {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 10px;
    text-transform: uppercase;
    color: #fff;

    margin-left: 15px;
  }

  .hero-title {
    font-family: var(--font4);
    font-weight: 700;
    font-size: 50px;
    text-transform: capitalize;
    color: #fff;

    margin-left: 15px;
  }

  .hero-title-any {
    color: #fcd54c;
  }

  .hero-btn {
    display: inline-flex;
    align-items: center;

    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    background-color: transparent;
    border-style: none;

    margin-left: 15px;
  }

  .hero-btn-icon {
    width: 10px;
    height: 16px;
    stroke: #fff;
    margin-left: 7px;
  }

  .social-list {
    position: absolute;
    display: flex;

    flex-direction: column;
    top: 20px;
    right: 15px;
  }

  .social-item:not(:last-child) {
    margin-bottom: 14px;
  }

  .social-icon {
    width: 20px;
    height: 28px;
    fill: #e8e8e8;
  }

  .hero-list {
    display: flex;
    position: absolute;

    align-items: center;
    justify-content: space-between;
    bottom: 0;
    right: 0;

    height: 70px;

    padding: 20px;

    background-color: #272727;
  }

  .hero-item {
    display: flex;

    align-items: center;
    justify-content: space-between;

    min-width: 148px;
    width: 10vw;
    height: 40vh;

    margin-right: 35px;
    /* background-color: aqua; */
  }

  .hero-item:last-child {
    margin-right: 0;
  }

  .hero-number {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 40px;
    color: #fcd54c;
  }

  .hero-number-first {
    color: #fcd54c;
  }

  .hero-text {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    color: #fff;
  }

  /* PROJECTS */

  .projects-section {
    margin-bottom: 70px;
  }

  .project-item:hover .project-description {
    transform: translateY(-750%);
    color: #272727;
  }

  .projects-title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 30px;
    color: #fff;

    margin-bottom: 25px;
  }

  .projects-categ-btn {
    background-color: transparent;
    border: none;

    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    color: #fff;
  }

  .projects-categ-btn-any {
    background-color: transparent;
    border: none;

    font-family: var(--second-family);
    font-style: italic;
    font-weight: 600;
    font-size: 16px;
    line-height: 131%;
    color: #929292;
  }

  .project-item {
    position: relative;

    width: 165px;
    height: 220px;

    margin-right: 10px;

    background-size: contain;
  }

  .project-item:nth-child(1) {
    background-image: url("../image/428x573\ \(2\).jpg");
  }

  .project-item:nth-child(2) {
    background-image: url("../image/428x573\ \(1\).jpg");
  }

  .project-item:nth-child(3) {
    background-image: url("../image/428x573\ \(2\).jpg");
  }

  .project-item:nth-child(4) {
    background-image: url("../image/428x573\ \(1\).jpg");
  }

  .project-description {
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    position: absolute;
    bottom: 25px;
    left: 15px;

    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    color: #fff;
  }

  .project-content {
    opacity: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    position: absolute;
    top: 57px;
    left: 15px;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    color: #272727;

    pointer-events: none;
  }

  .project-link {
    opacity: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    position: absolute;
    bottom: 15px;
    left: 15px;

    display: flex;
    align-items: center;

    font-family: var(--font-family);
    font-weight: 700;
    font-size: 12px;
    color: #272727;

    pointer-events: none;
  }

  .project-icon {
    width: 13px;
    height: 18px;
    stroke: #272727;
    margin-left: 6px;
  }

  /* EXPERISE */

  .expertise-section {
    margin-bottom: 50px;
  }

  .expertise-subtitle {
    margin-bottom: 15px;

    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    color: #fcd54c;
  }

  .expertise-title {
    margin-bottom: 25px;

    font-family: var(--second-family);
    font-weight: 700;
    font-size: 30px;
    color: #e8e8e8;
  }

  .expertise-paragraph {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #e8e8e8;
  }

  /* QUOTE */

  .quote-paragraph {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #fff;
  }

  .quote-paragraph-author {
    color: #fcd54c;
  }

  /* TEXT-AND-IMAGE */

  .text-and-image-description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #e8e8e8;
  }

  /* CLIENTS */

  .clients-section {
    margin-top: 80px;
    margin-bottom: 120px;
  }

  .clients-item {
    margin-right: 20px;
  }

  .clients-item::before {
    width: 68px;
    height: 68px;

    background-size: cover;
  }

  .clients-some {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 40px;

    font-family: var(--font-family);
    font-weight: 600;
    font-size: 100px;
    color: #fcd54c;
  }

  .clients-name {
    margin-bottom: 20px;

    font-family: var(--second-family);
    font-weight: 700;
    font-size: 25px;
    color: #fff;
  }

  .clients-role {
    margin-bottom: 35px;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    color: #fff;
  }

  .clients-company {
    color: #fcd54c;
  }

  .clients-description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    color: #929292;
  }

  /* FAQ */

  .FAQ-section {
    margin-bottom: 70px;
  }

  .FAQ-title {
    margin-bottom: 40px;

    font-family: var(--second-family);
    font-weight: 700;
    font-size: 30px;
    color: #fff;
  }

  /* FOOTER */

  .footer::before {
    content: "";
    display: block;

    width: 100%;

    margin-bottom: 40px;

    border: 1px solid #ffffff4d;
  }

  .footer-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  .footer-item::after {
    content: "";
    display: block;

    width: 100%;

    margin-bottom: 15px;

    border: 1px solid #ffffff4d;
  }

  .footer-btn {
    display: flex;
    align-items: center;

    width: 100%;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: #e8e8e8;
    background-color: transparent;
    border: 0;
  }

  .footer-btn:last-child {
    margin-bottom: 20px;
  }

  .footer-btn-icon {
    width: 14px;
    height: 9px;
    stroke: #929292;
    margin-left: auto;
    transform: rotate(90deg);
  }

  .footer-link {
    display: none;
  }

  .footer-contact-content {
    display: flex;
    align-items: flex-end;
  }

  .footer-contact-list-address {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .footer-item-contact-address:not(:last-child) {
    margin-bottom: 13px;
  }

  .footer-link-address {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;
    color: #e8e8e8;
  }

  .footer-link-email {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 18px;
    color: #e8e8e8;
  }

  .footer-btn-consultation {
    width: 165px;
    height: 41px;

    margin-left: auto;

    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    color: #000;
    background: #fcd54c;
    border: none;
  }

  .footer-any::before {
    content: "";
    display: block;

    width: 100%;

    margin-top: 30px;

    border: 1px solid #ffffff4d;
  }

  .footer-content-any {
    display: flex;
    align-items: center;
    height: 90px;
  }

  .footer-copyright {
    font-family: var(--font3);
    font-weight: 300;
    font-size: 12px;
    color: #e8e8e8;
  }

  .footer-social-list {
    display: flex;
    margin-left: auto;
  }

  .footer-social-item:not(:last-child) {
    margin-right: 30px;
  }

  .footer-social-icon {
    width: 20px;
    height: 28px;
    fill: #fff;
  }
}

@media screen and (min-width: 1360px) {
  /* HEADER */

  .el-scroll-show {
    opacity: 1;
    margin-top: 100px;
    transition-property: opacity, margin-top;
    transition-duration: 1s, 1s;
  }

  .menu-icon,
  .menu-btn {
    display: none;
  }

  .header-content {
    width: 1300px;
    height: 65px;
    display: flex;
    align-items: center;
  }

  .nav {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .logo {
    display: flex;
    align-items: center;
    margin-right: 160px;
  }

  .logo::before {
    content: "";
    display: block;
    width: 31px;
    height: 51px;
    background-image: url("../image/Rectangle\ 14.svg");
  }

  .logo-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }

  .logo-title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 28px;
    color: #fff;
  }

  .logo-subtitle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 11px;
    color: #fff;
  }

  .menu-icon {
    visibility: hidden;
    width: 0;
    height: 0;
  }

  .nav-list {
    display: flex;
    position: relative;
    margin-left: 150px;
    margin-right: 100px;
  }

  .nav-item:not(:last-child) {
    margin-right: 15px;
  }

  .nav-link {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    position: relative;
  }

  .nav-link:hover::after,
  .nav-link:focus::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fcd54c;
  }

  .nav-link:hover,
  .nav-link:focus {
    color: #fcd54c;
  }

  .nav-item:hover .item-list,
  .item-list:hover {
    opacity: 1;
    z-index: 999;
    pointer-events: all;
  }

  .item-list {
    opacity: 0;
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 247px;
    height: 108px;
    border: 1px solid #979797;
    background: #272727;
    pointer-events: none;
  }

  .list-item {
    display: flex;
    width: 100%;
    height: 36px;
    background-color: #272727;
    align-items: center;
    justify-content: center;
  }

  .list-item:hover {
    background-color: #fcd54c;
  }

  .list-item:hover .sub-link {
    color: #272727;
  }

  .sub-link {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 14px;
    color: #fff;
  }

  .nav-btn {
    margin-right: 50px;
    width: 165px;
    height: 41px;

    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    color: #000;
    background-color: #fcd54c;
    border: none;
  }

  .language-switcher {
    display: flex;
    padding: 0;
  }

  .language-switcher-en,
  .language-switcher-ua {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: rgba(146, 146, 146, 0.6);
    background-color: transparent;
    border: none;
  }

  .language-switcher-en:hover,
  .language-switcher-en:focus,
  .language-switcher-ua:hover,
  .language-switcher-ua:focus {
    color: #ffffff;
  }

  .language-switcher-en {
    margin-right: 10px;
  }

  .curent-language {
    color: #fcd54c;
  }

  .curent-language:hover,
  .curent-language:focus {
    color: #fcd54c;
  }

  .phone-link {
    display: flex;
    margin-left: auto;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 16px;
    color: #fff;
  }

  .phone-link:hover,
  .phone-link:focus {
    color: #fcd54c;
  }

  /* HERO */

  .hero-section {
    margin-bottom: 70px;
  }

  .content-text {
    display: flex;
    justify-content: center;
    flex-direction: column;

    margin-left: 40px;
  }

  .content-text::before {
    content: "";

    position: absolute;
    display: block;

    width: 126px;
    height: 387px;

    background-image: url("../image/Rectangle\ 14\ \(1\).svg");
  }

  .hero-paragraph {
    margin-left: 30px;
    margin-top: 25px;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
  }

  .hero-title {
    font-family: var(--font4);
    font-weight: 700;
    font-size: 76px;
    line-height: 104%;
    text-transform: capitalize;
    color: #fff;

    margin-left: 30px;
    margin-top: 40px;
  }

  .hero-title-any {
    color: #fcd54c;
  }

  .hero-btn {
    display: inline-flex;
    border: none;
    background-color: transparent;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    color: #fff;

    margin-left: 30px;
    margin-top: 50px;
  }

  .hero-btn-icon {
    width: 13px;
    height: 22px;
    margin-left: 6px;
    stroke: #ffffff;
  }

  .hero-btn:hover,
  .hero-btn:focus,
  .hero-btn:hover .hero-btn-icon,
  .hero-btn:focus .hero-btn-icon {
    color: #fcd54c;
    stroke: #fcd54c;
  }

  .social-list {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    margin-top: 40px;
    margin-right: 25px;
  }

  .social-item:not(:last-child) {
    margin-bottom: 20px;
  }

  .social-icon {
    width: 27px;
    height: 27px;
    fill: #e8e8e8;
  }

  .social-icon:hover,
  .social-icon:focus {
    fill: #fcd54c;
  }

  .hero-list {
    display: flex;
    position: absolute;

    align-items: center;
    justify-content: space-between;
    bottom: 0;
    right: 0;

    height: 70px;

    padding: 20px;

    background-color: #272727;
  }

  .hero-item {
    display: flex;

    align-items: center;
    justify-content: space-between;

    min-width: 148px;
    width: 10vw;
    height: 50px;

    margin-right: 35px;
    /* background-color: aqua; */
  }

  .hero-item:last-child {
    margin-right: 0;
  }

  .hero-number {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 40px;
    color: #fcd54c;
  }

  .hero-number-first {
    color: #fcd54c;
  }

  .hero-text {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    color: #fff;
  }

  /* PROJECTS */

  .projects-section {
    margin-bottom: 70px;
  }

  .projects-categories-list {
    margin-bottom: 40px;
  }

  .projects-title {
    margin-left: 200px;
    margin-right: 189px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 48px;
    line-height: 144%;
    color: #fff;
  }

  .projects-categ-btn {
    background-color: transparent;
    border: none;

    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 131%;
    color: #fff;
  }

  .projects-categ-btn-any {
    background-color: transparent;
    border: none;

    font-family: var(--second-family);
    font-style: italic;
    font-weight: 600;
    font-size: 16px;
    line-height: 131%;
    color: #929292;
  }

  .projects-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .project-item {
    position: relative;
    width: 430px;
    height: 572px;

    margin-right: 29px;
  }

  .project-item:nth-child(1) {
    background-image: url("../image/428x573\ \(2\).jpg");
  }

  .project-item:nth-child(2) {
    background-image: url("../image/428x573\ \(1\).jpg");
  }

  .project-item:nth-child(3) {
    background-image: url("../image/428x573\ \(2\).jpg");
  }

  .project-item:nth-child(4) {
    background-image: url("../image/428x573\ \(1\).jpg");
  }

  .project-description {
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    position: absolute;
    bottom: 60px;
    left: 25px;

    font-family: var(--second-family);
    font-weight: 700;
    font-size: 32px;
    line-height: 141%;
    color: #fff;
  }

  .project-item:hover .project-description {
    transform: translateY(-950%);
    color: #272727;
  }

  .project-content {
    opacity: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    pointer-events: none;

    position: absolute;
    top: 190px;
    left: 25px;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    line-height: 118%;
    color: #272727;
  }

  .project-link {
    opacity: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    position: absolute;
    left: 25px;
    bottom: 44px;

    display: flex;
    align-items: center;

    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    color: #272727;
  }

  .project-icon {
    width: 13px;
    height: 22px;
    stroke: #272727;
    margin-left: 10px;
  }

  /* EXPERISE */

  .expertise-section {
    width: 850px;
    height: 599px;

    margin: 0 auto;
    margin-bottom: 70px;
  }

  .expertise-subtitle {
    margin-bottom: 40px;

    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    color: #fcd54c;
  }

  .expertise-title {
    margin-bottom: 30px;

    font-family: var(--second-family);
    font-weight: 700;
    font-size: 70px;
    line-height: 99%;
    color: #e8e8e8;
  }

  .expertise-paragraph {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #e8e8e8;
  }

  /* QUOTE */

  .quote-paragraph {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 30px;
    line-height: 160%;
    color: #fff;
  }

  .quote-paragraph-author {
    color: #fcd54c;
  }

  /* TEXT-AND-IMAGE */

  .text-and-image-description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #e8e8e8;
  }

  /* CLIENTS */

  .clients-section {
    margin-top: 80px;
    margin-bottom: 140px;
  }

  .clients-item {
    margin-right: 20px;
  }

  .clients-item::before {
    width: 120px;
    height: 120px;

    background-size: cover;
  }

  .clients-some {
    position: absolute;

    top: 0;
    right: 0;

    margin-right: 40px;

    font-family: var(--font-family);
    font-weight: 600;
    font-size: 120px;
    line-height: 167%;
    color: #fcd54c;
  }

  .clients-name {
    margin-bottom: 20px;

    font-family: var(--second-family);
    font-weight: 700;
    font-size: 25px;
    color: #fff;
  }

  .clients-role {
    margin-bottom: 35px;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: #fff;
  }

  .clients-company {
    color: #fcd54c;
  }

  .clients-description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    color: #929292;
  }

  /* FAQ */

  .FAQ-section {
    margin-bottom: 120px;
  }

  .FAQ-title {
    margin-bottom: 40px;

    font-family: var(--second-family);
    font-weight: 700;
    font-size: 70px;
    line-height: 86%;
    color: #fff;
  }

  /* FOOTER */

  /* FOOTER */

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .footer::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
    margin-bottom: 70px;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1920px;
    width: 100%;
  }

  .footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-list {
    margin-top: 50px;
  }

  .footer-item {
    margin-bottom: 40px;
  }

  .footer-item-link:not(:last-child) {
    margin-bottom: 20px;
  }

  .footer-btn {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: #e8e8e8;
    background-color: transparent;
    border: none;
  }

  .footer-btn-icon {
    display: none;
  }

  .footer-link {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    color: #e8e8e8;
  }

  .footer-link:hover,
  .footer-link:focus {
    color: #fcd54c;
  }

  .footer-item-contact-btn {
    margin-bottom: 40px;
  }

  .footer-item-contact-address {
    margin-bottom: 20px;
  }

  .footer-link-address {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;
    color: #e8e8e8;
  }

  .footer-link-email {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 18px;
    color: #e8e8e8;
  }

  .footer-link-address:hover,
  .footer-link-address:focus,
  .footer-link-email:hover,
  .footer-link-email:focus {
    color: #fcd54c;
  }

  .footer-btn-consultation {
    width: 165px;
    height: 41px;

    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    color: #000;
    background: #fcd54c;
    border-style: none;
  }

  .footer-any {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    width: 100%;
    height: 90px;
  }

  .footer-any::before {
    content: "";
    display: block;

    width: 100%;

    margin-bottom: 30px;

    border: 1px solid #ffffff4d;
  }

  .footer-content-any {
    display: flex;

    width: 100%;
  }

  .footer-copyright {
    font-family: var(--font3);
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;
    color: #e8e8e8;
    margin-right: auto;
  }

  .footer-social-list {
    display: flex;
    justify-content: flex-end;
  }

  .footer-social-item:not(:last-child) {
    margin-right: 30px;
  }

  .footer-social-icon {
    width: 15px;
    height: 28px;
    fill: #fff;
  }
}
